@model BlogSite_v1.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete?</h2>

<div>
    <hr />
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-primary btn-sm" })
    <br /><br />
    
    <div class="well well-sm"><b>Category:</b> @Html.DisplayFor(model => model.CategoryName)</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        

        if(ViewBag.postsCounter == 0) {
        <center><input type="submit" value="Delete" class="btn btn-danger btn-block" /></center>
        }
        else
        {
        <center><input type="submit" value="You cannot delete this category" class="btn btn-danger btn-block disabled" />
            <div>This category depends on @ViewData["postsCounter"] post!</div></center>
        }
        <hr />
    }
</div>
