@model IEnumerable<BlogSite_v1.Models.Category>

@{
    ViewBag.Title = "Index";
}

<center><h2>Categories</h2></center>

<p>
    @Html.ActionLink("Add New Category", "Create", null, new { @class = "btn btn-warning btn-sm" })
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <div align="right">
                    @Html.ActionLink("Edit Category", "Edit", new { id = item.CategoryId }, new { @class = "btn btn-success btn-xs" }) |
                    @Html.ActionLink("Delete Category", "Delete", new { id = item.CategoryId }, new { @class = "btn btn-danger btn-xs" })
                </div>
            </td>
        </tr>
    }

</table>
